<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-input/paper-input.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/iron-list/iron-list.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="../../bower_components/paper-spinner/paper-spinner-lite.html">
<link rel="import" href="../../bower_components/iron-a11y-keys/iron-a11y-keys.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="../../bower_components/paper-autocomplete/paper-autocomplete.html">
<link rel="import" href="../../bower_components/paper-chip/paper-chip.html">




<dom-module id="luding-row">
    <template>
        <style include="shared-styles">
             :host {
                display: block;
            }
        </style>
        <div style="display: flex;flex-wrap: wrap;">
            <slot></slot>
        </div>
        <hr>
    </template>

    <script>
        /**
         * `luding-row` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class LudingRow extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'luding-row';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {

                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();
            }

            connectedCallback() {
                super.connectedCallback()

            }

        }

        window.customElements.define(LudingRow.is, LudingRow);
    </script>
</dom-module>