<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/paper-card/paper-card.html">
<link rel="import" href="../../bower_components/paper-icon-button/paper-icon-button.html">


<dom-module id="luding-card">
    <template>
        <style>
             :host {
                display: block
            }
        </style>
        <custom-style>
            <style is="custom-style">
                .rate {
                    padding: 0;
                    margin-bottom: 3px;
                    width: 100%;
                }

                .rate-header {
                    align-self: center;
                    flex-grow: 4;
                }
                .title {
                    @apply --paper-font-headline;
                    font-size: 140%;
                }
                .subtitle {
                    @apply --paper-font-subhead;
                    color: var(--paper-grey-600);
                }
                .rate-name {
                    margin: 10px 0;
                }
                .card-content {
                    padding: 2px 5px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-between;
                }
                paper-icon-button.rate-icon {
                    --iron-icon-fill-color: white;
                    --iron-icon-stroke-color: var(--paper-grey-600);
                }
            </style>
        </custom-style>
        <paper-card class="rate">
            <div class="card-content">
                <div class="rate-header">
                    <slot name="title" class="title"></slot><br>
                    <slot name="subtitle" class="subtitle"></slot>
                </div>
                <div class="rate-name">
                    <paper-icon-button right icon="favorite"></paper-icon-button>
                    <paper-icon-button right icon="star"></paper-icon-button>
                    <slot name="actions" class="actions"></slot>
                </div>
            </div>
        </paper-card>



    </template>

    <script>
        /**
         * `luding-card` Description
         *
         * @summary ShortDescription.
         * @customElement
         * @polymer
         * @extends {Polymer.Element}
         */
        class LudingCard extends Polymer.Element {
            /**
             * String providing the tag name to register the element under.
             */
            static get is() {
                return 'luding-card';
            }

            /**
             * Object describing property-related metadata used by Polymer features
             */
            static get properties() {
                return {
                };
            }

            /**
             * Instance of the element is created/upgraded. Use: initializing state,
             * set up event listeners, create shadow dom.
             * @constructor
             */
            constructor() {
                super();
            }

            /**
             * Use for one-time configuration of your component after local DOM is initialized. 
             */
            ready() {
                super.ready();

                Polymer.RenderStatus.afterNextRender(this, function () {

                });
            }

        }

        window.customElements.define(LudingCard.is, LudingCard);
    </script>
</dom-module>